{% extends 'rango/base.html' %}
{% load static %}
{% block title %}About{% endblock %}

{% block body_block %}
<div class="hero-unit">
    <h1>About Rango</h1>
    This is <strong>Rango's about page</strong>.<br/>
    You have visited the site on <strong>{{ visits }} occasion(s)</strong>.<br/>
    Here's a picture of Rango!<br/>
    <img src="{% static 'rango.jpg' %}" alt="Picture of Rango" />
</div>
{% endblock %}
