{% extends 'rango/base.html' %}

{% block title %}Add a page{% endblock %}
    
{% block body_block %}
<div class="hero-unit">
    <h1>Add page</h1>
{% if not category_name_url %}
    <div style="color: red;">The specified category does not exist!</div>
{% else %}
    <div class="container">
    <form class="span6" id="page_form" method="post" action="/rango/category/{{ category_name_url }}/add_page/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <p>{{ field.errors }}</p>
            <p>{{ field.help_text }}
            {{ field }}</p>
        {% endfor %}

        <button class="btn btn-primary" type="submit" name="submit">Create page</button>
    </form>
    </div>
</div>
{% endif %}
{% endblock %}