<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/rango/">Rango</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        {% if user.is_authenticated %}
                        <li class="navbar-text">Welcome, {{ user.username }}!</li>
                        <li><a href="/rango/logout/">Logout</a></li>
                        <li><a href="/rango/profile/">Profile</a></li>
                        {% else %}
                        <li><a href="/rango/register/">Register</a></li>
                        <li><a href="/rango/login/">Login</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav">
                        {% if user.is_authenticated %}
                        <li><a href="/rango/restricted/">Restricted</a></li>
                        <li><a href="/rango/add_category/">Add category</a></li>
                        {% endif %}
                        <li><a href="/rango/about/">About</a></li>
                        <li><a href="/rango/search/">Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    {% block sidebar %}
                    {% endblock %}
                    <div id="cats">
                        {% if cat_list%}
                            <ul class="nav nav-list"><li>Category List</li></ul>
                            {% include 'rango/category_list.html' with cat_list=cat_list %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="span9">
                {% block body_block %}{% endblock %}
            </div>
        </div>
    </div>
    <hr/>

    <footer>
        <div class="container">
            <p>&copy; Rango: How to Tango with Django 2014</p>
        </div>
    </footer>
    <script src="{% static 'js/jquery-2.1.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/rango-ajax.js' %}"></script>
</body>
</html>