{% extends 'rango/base.html' %}

{% block title %}Register{% endblock %}
    
{% block body_block %}
<div class="hero-unit">
    <h1>Register with Rango</h1>
    <br/>
    <div class="container">
        {% if registered %}
            <p>Thank's for registration</p>
            <p><a href="/rango/login/">Login</a> when you already to Rango</p>
        {% else %}
        
        <form class="form-signin span8" id="user_form" method="post" action="/rango/register/" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">Sign up here</h2>
            {% for field in user_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/>
            {% endfor %}

            {% for field in profile_form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}<br/>
                {{ field }}<br/>
            {% endfor %}
            <br/>
            <input type="submit" class="btn btn-primary" name="submit" value="Register" />
        </form>
    {% endif %}
    </div>
</div>
{% endblock %}